div.container-fluid .main-intro {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    padding: 30px;
    transform: translate(-50%, -50%) 
}

#links li{
    padding: 20px
}

div.full-page {
    height: 100vh;
    background-color: #2c3e50;
}

.text-styles {
    color: white;
    font-size: 3em;
}


.color-white {
    color: white;
}

#fix-image-size {
    
    height: 330px;
    width: 270px;
    margin: 0 auto;
    border: solid 5px thick;
}

div.half-page {
    height: 50vh;
    background-color: azure
}

#about-heading {
    padding: 10px;
}