* {
    font-family: 'Dosis', sans-serif;
}

div.container-fluid .main-intro {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    padding: 30px;
    transform: translate(-50%, -50%); 
}


#links li{
    padding: 20px;
}

div.full-page {
    height: 100vh;
}

.text-styles {
    color: black;
    font-size: 3em;
}


.color-white {
    color: black;
}

#fix-image-size {
    
    height: 330px;
    width: 330px;
    margin: 0 auto;
    border: solid 5px thick;
}

.half-page {
    height: 53vh;
}

.quarter-page {
    height: 30vh;
}

div.title-page {
    height: 40vh;
    display: flex;
    justify-content: center;
    position: relative;
    color: white;
}
div.title-content {
    align-self: center;
    font-size: 5em;
    font-weight: 600;
}

#about-heading {
    padding: 10px;
}

#project_section .wrap-rows{
    margin: 50px;
}

#project_section .wrap-rows .row{
    margin-bottom: 25px;
}

#project_section .row p{
    font-size: 1.6em;
}

.padding {
    padding: 10px;
}

.margin {
    margin: 0px;
}

.blur {
   
}

.text3d {
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

#research-title {
    background-image: url(../img/research-title.jpg);
    background-size: cover;
    backface-visibility: hidden;
    background-attachment: fixed;
}

#reach-me {
    background-image: url(../img/reach-me.jpg);
    background-size: cover;
    backface-visibility: hidden;
    background-attachment: fixed;
}

#code {
    background-image: url(../img/code.jpg);
    background-size: cover;
    backface-visibility: hidden;
    background-attachment: fixed;
}

#resume-button {
    font-size: 2em;
}


/*HOVER - CSS*/

#links li:hover {
    cursor: pointer
}

.fa-facebook-official:hover {
    color: #3B5998
}

.fa-linkedin:hover {
    color: #0077b5
}

.fa-twitter:hover {
    color: #00aced
}

.fa-github:hover {
    color: #767676
}

#resume-button:hover i{
    color: darkred;
}

/*CRAP I NEED TO REPLACE*/
.placeholder_color {
    background-image: url(../img/placeholder.png);
/*    background-repeat: no-repeat;*/
    background-attachment: fixed
}