html body{
	overflow-x: hidden;
	font-family: "Times New Roman", Times, serif;
}
.jumbotron {
	height: 750px;
	width: 100%;
	background-image: url("images/homebackground.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	padding: 0;
	margin-bottom: 0px;
	margin-top: -70px;
	background-position: center top;
}

.jumbotron .container {
	position: relative;
	top: 200px;
	text-align: center;
	color: white;
}
.whatido .container {
	padding-bottom: 10px;
}

#whatido {
	margin: 0;
	padding: 0;
}
#aboutme {
	margin-bottom: 0px;
	margin-top: -30px;
	position: relative;
	background-color: #efefef;
	background-attachment: fixed;
}
#aboutme #container {
	padding-top: 40px;
	padding-bottom: 50px;
	padding-left: 100px;
	padding-right: 100px;
}
#aboutme #container p {
	position: relative;
	padding-left: 155px;
	padding-right: 115px;
	padding-top: 35px;
}
#whatido #container .row .col-md-4 {
	padding-top: 50px;
	padding-left: 50px;
}
#whatido #container {
	font color="white";
	padding-top: 130px;
}
#whatido {
	position: relative;
	margin-top: -19px;
	height: 400px;
}
table td {
    border: 1px solid black;
    border-collapse: collapse;
}
#connectwithme {
	background-image: url("images/connectwithmeimage.jpg");
	background-attachment: fixed;
	background-size: cover;
}
#connectwithme #container {
	margin-top: -20px;
	padding-top: 35px;
}
.jumbotron .container #icons a{
	margin-right: 22px;
	margin-left: 22px;
}
#connectwithme #container i {
	padding-top: 40px;
}
#projects{
	background-image: url("images/projectimage.jpg");
	background-size: cover;
	background-attachment: fixed;
	margin-top: -20px;
}
#projects #container {
	padding-top: 50px;
}
#projects #container p{
	padding-top: 50px;
}
#projects #container span{
	padding-top: 70px;
	text-align: center;
}

	