html body{
	font-family: "Times New Roman", Times, serif;
	margin:0;
	position: relative;
}
.menu{
    background: #202024;
    left: -285px;  /* start off behind the scenes */
    height: 100%;
    position: fixed;
    width: 285px;

}
.menu .container ul{
	list-style-type: none;
	padding: 50px 30px;
	font-size: 30px;
	margin: 30px 0;
}
.menu-icon{
    padding: 30px;
    position: fixed;
}
.jumbotron {
	height: 750px;
	width: 100%;
	overflow: auto;
	min-height:100%;
	background-image: url("images/homebackground.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	padding: 0;
	margin:0;
	background-position: center top;
}

.jumbotron .container {
	position: relative;
	text-align: center;
	color: white;
}
#circular{
	width: 200px;
	height: 200px;
	border-radius: 150px;
}
.jumbotron .container #icons .icond{
	display: inline-block;
	padding: 10px;
}
.aboutme {
	background-attachment: fixed;
}
.aboutme .container {
	padding: 0 40px;
	text-align: center;
}
.aboutme .container .aboutmetext p{
	padding: 0 100px;
}
#services{
	background-image: url("images/code.jpg");
	background-size: cover;
	color: transparent;
	background-attachment: fixed;
	height: 100%;
}

#services .container{
	color: white;
	font-size: 22px;
}
.connectwithme .container i {
	padding-top: 40px;
}
#credits{
	font-size: 21px;
	color: white;
}


.portfolio{
	height: 100%;
}
#portfolio{
	background-color: #C9C9B1;
}
.connectwithme {
	background-image: url("images/connectwithmeimage.jpg");
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
}
.connectwithme .container {
	color: white;
}
