html body{
	font-family: "Times New Roman", Times, serif;
	margin:0;
	position: relative;
}
.menu{
    background: #202024;
    left: -285px;  /* start off behind the scenes */
    height: 100%;
    position: fixed;
    width: 285px;

}
.menu .container ul{
	list-style-type: none;
	padding: 50px 30px;
	font-size: 30px;
	margin: 30px 0;
}
.menu-icon{
    padding: 60px;
    position: fixed;
}
.jumbotron {
	height: 750px;
	width: 100%;
	overflow: auto;
	min-height:100%;
	background-image: url("images/homebackground.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	padding: 0;
	margin:0;
	background-position: center top;
}

.jumbotron .container {
	position: relative;
	top: 15px;
	text-align: center;
	color: white;
}
#circular{
	width: 200px;
	height: 200px;
	border-radius: 150px;
}

.whatido {
	margin: 0;
	padding: 0;
}
.aboutme {
	margin-top:0;
	background-attachment: fixed;
}
.aboutme .container {
	padding: 40px 100px 50px 100px;
}
.aboutme .container p {
	position: relative;
	padding-left: 155px;
	padding-right: 115px;
	padding-top: 35px;
}
.connectwithme {
	background-image: url("images/connectwithmeimage.jpg");
	background-attachment: fixed;
	background-size: cover;
}
.connectwithme .container {
	margin-top: -20px;
	padding-top: 35px;
	color: black;
}
.jumbotron .container #icons a{
	margin-right: 22px;
	margin-left: 22px;
}
.connectwithme .container i {
	padding-top: 40px;
}
#credits{
	font-size: 21px;
	color: white;
}
.blog{
	background-image: url("images/projectimage.jpg");
	background-size: cover;
	background-attachment: fixed;
	height: 300px;
	font color: white;
}
.blog .container h2{
	text-align: center;
	color: white;
}
.portfolio{
	height: 750px;
}
.portforlio .p {
	margin-top: 20px;
}
#portfolio{
	background-color: #C9C9B1;
}